{% extends 'statics.twig' %}

{% block body %}
    <h1>
        About
    </h1>
    <p class="text-muted lead">
        A testing application to learn AngularJS.
        It can be use to create Doctine entities.
    </p>
{% endblock %}