@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?iyafrp');
    src:url('../fonts/icomoon.eot?#iefixiyafrp') format('embedded-opentype'),
        url('../fonts/icomoon.woff?iyafrp') format('woff'),
        url('../fonts/icomoon.ttf?iyafrp') format('truetype'),
        url('../fonts/icomoon.svg?iyafrp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-folder-open:before {
    content: "\e930";
}

.icon-floppy:before {
    content: "\e962";
}

.icon-magic:before {
    content: "\e600";
}

.icon-download:before {
    content: "\e9c7";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-edit:before {
    content: "\e601";
}

.icon-list:before {
    content: "\e602";
}

.icon-sort:before {
    content: "\e603";
}

.icon-key:before {
    content: "\e98d";
}

.icon-chain:before {
    content: "\e9cb";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-tree:before {
    content: "\e604";
}

.icon-tree2:before {
    content: "\e2a8";
}

.icon-tree3:before {
    content: "\e605";
}

