hr {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.hr-small {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.btn-align-xs {
    margin-top: 5px;
}
.label-align-xs {
    margin-bottom: 0px !important;
    margin-top: 4px;
}
.nopadding {
    padding: 0 !important;
}
.nopadding-left {
    padding-left: 0 !important;
}
.noppading-right {
    padding-right: 0 !important;
}
.nopadding-bottom {
    padding-bottom: 0 !important;
}
.noppading-top {
    padding-top: 0 !important;
}
.nomargin-bottom {
    margin-bottom: 0 !important;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.overflow-hidden {
    overflow: hidden;
}
.text-sm {
    font-size: 12px;
}
fieldset.border {
    border: 1px solid #eee !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
fieldset.border legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.bg-white {
    background-color: #fff;
}
.btn, .breadcrumb, .dropdown-menu, .form-control, .input-group-addon, .modal-content,
.pagination, .panel, .panel-heading, .panel-footer, .tooltip-inner, .dropdown-menu,
.dropdown-menu li, .dropdown-menu li a, .navbar-nav > .notifications-menu > .dropdown-menu,
.thumbnail, .pagination, .pagination>li:first-child>a, .pagination>li:first-child>span, 
.pagination>li:last-child>a, .pagination>li:last-child>span, .panel {
    border-radius: 0 !important;
}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 34px !important;
}

.form-horizontal .checkbox.fixed-checkbox {
    padding-top: 0px;
    padding-left: 15px;
}
.form-horizontal .checkbox.fixed-checkbox label:before {
    top: -5px !important;
}
.form-horizontal .checkbox.fixed-checkbox label:after {
    top: -5px !important;
}

.form-horizontal .control-label {
    font-size: 12px;
}

.form-horizontal .help-block.error {
    font-size: 12px;
}
.table tbody tr {
    background-color: #fff;
}

/* Awesome Bootstrap Checkbox */
.checkbox input[type=checkbox]:checked+label::after,
.checkbox input[type=radio]:checked+label::after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}