<script type="text/ng-template" id="fieldsOptionsContent.html">
<div class="table-responsive">
    <table class="table fields-table">
        <thead>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>{{ 'label.name' | translate }}</th>
            <th>{{ 'label.name_database' | translate }}</th>
            <th>{{ 'label.type' | translate }}</th>
            <th>{{ 'label.length' | translate }}</th>
            <th>{{ 'label.pk' | translate }}</th>
            <th>{{ 'label.nn' | translate }}</th>
            <th>{{ 'label.strategy' | translate }}</th>
        </thead>
        <tbody ui-sortable ng-model="fieldMappings">
            <tr class="table-fields" 
                ng-repeat="field in fieldMappings"
                ng-form="fieldForm"
                ng-class="{ 'warning': field.id }"
                id="field-{{ field._id }}"
                >
                <td class="nopadding-top noppading-bottom noppading-right">
                    <i class="move icon icon-sort"> </i>
                </td>
                <td>
                    <button class="btn btn-xs btn-link btn-align-xs disabled nopadding-left noppading-right"
                        tooltip-placement="top" 
                        tooltip="">
                        <i class="icon" 
                           ng-class="{ 'icon-key': field.id }"> </i>
                    </button>
                </td>
                <td ng-class="{ 'has-error': fieldForm.fieldName.$invalid && fieldForm.fieldName.$dirty }">
                    <input class="form-control" name="fieldName" type="text" required
                           ng-model="field.fieldName"
                           ng-change="updateTableName(field)"
                           ng-maxlength="255"
                           uniquefieldname="existFieldName"
                    />
                    <p class="help-block error" 
                        ng-show="fieldForm.fieldName.$error.required 
                        && fieldForm.fieldName.$invalid 
                        && fieldForm.fieldName.$dirty">{{ 'error.required' | translate }}</p>
                    <p class="help-block error" 
                        ng-show="fieldForm.fieldName.$error.maxlength 
                        && fieldForm.fieldName.$invalid 
                        && fieldForm.fieldName.$dirty">{{ 'error.maxlength' | translate }}</p>
                    <p class="help-block error" 
                        ng-show="fieldForm.fieldName.$error.uniquefieldname 
                        && fieldForm.fieldName.$invalid 
                        && fieldForm.fieldName.$dirty">{{ 'error.exists' | translate }}</p>
                </td>
                <td ng-class="{ 'has-error': fieldForm.columnName.$invalid && fieldForm.columnName.$dirty }">
                    <input class="form-control" name="columnName" type="text" required
                           ng-model="field.columnName"
                           ng-maxlength="255"
                           uniquefieldname="existFieldName"
                    />
                    <p class="help-block error" 
                        ng-show="fieldForm.columnName.$error.required 
                        && fieldForm.columnName.$invalid 
                        && fieldForm.columnName.$dirty">{{ 'error.required' | translate }}</p>
                    <p class="help-block error" 
                        ng-show="fieldForm.columnName.$error.maxlength 
                        && fieldForm.columnName.$invalid 
                        && fieldForm.columnName.$dirty">{{ 'error.maxlength' | translate }}</p>
                    <p class="help-block error" 
                        ng-show="fieldForm.columnName.$error.uniquefieldname 
                        && fieldForm.columnName.$invalid 
                        && fieldForm.columnName.$dirty">{{ 'error.exists' | translate }}</p>
                </td>
                <td>
                    <select class="form-control" name="type" style="width:100px;" required
                            ng-model="field.type" 
                            ng-options="t.id as t.name for t in types"
                    >
                    </select>
                </td>
                <td ng-class="{ 'has-error': fieldForm.length.$invalid && fieldForm.length.$dirty }">
                    <input class="form-control length-field" name="length" type="number"
                           ng-model="field.length"
                           ng-disabled="isFieldDisabled(field.type, 'length')"
                           ng-required="isLengthRequired(field.type)"
                    />
                    <p class="help-block error"
                        ng-show="fieldForm.length.$error.required 
                        && fieldForm.length.$invalid 
                        && fieldForm.length.$dirty">{{ 'error.required' | translate }}</p>
                    <p class="help-block error"
                        ng-show="fieldForm.length.$error.number 
                        && fieldForm.length.$invalid 
                        && fieldForm.length.$dirty">{{ 'error.number' | translate }}</p>
                </td>
                <td>
                    <div class="checkbox">
                        <input class="checkbox" type="checkbox" 
                               ng-model="field.id"
                               ng-disabled="isFieldDisabled(field.type, 'id')"
                        />
                        <label></label>
                    </div>
                </td>
                <td>
                    <div class="checkbox">
                        <input class="checkbox" type="checkbox" 
                               ng-model="field.nullable"
                               ng-disabled="(field.id)"
                        />
                        <label></label>
                    </div>
                </td>
                <td ng-class="{ 'has-error': fieldForm.strategy.$invalid && fieldForm.strategy.$dirty }">
                    <select class="form-control" name="strategy" style="width:100px;"
                            ng-model="field.strategy" 
                            ng-disabled="isFieldDisabled(field.type, 'id') || !(field.id)"
                            ng-required="field.id"
                            ng-options="t.id as t.name for t in strategies"
                    >
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs btn-align-xs" 
                            ng-click="removeField(field._id)"
                    >
                        <i class="icon icon-minus"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</script>