<script type="text/ng-template" id="fieldsOptionsContent.html">
<table class="table fields-table">
    <thead>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>{{ 'label.name' | translate }}</th>
        <th>{{ 'label.name_database' | translate }}</th>
        <th>{{ 'label.type' | translate }}</th>
        <th>{{ 'label.length' | translate }}</th>
        <th>{{ 'label.pk' | translate }}</th>
        <th>{{ 'label.nn' | translate }}</th>
        <th>{{ 'label.strategy' | translate }}</th>
    </thead>
    <tbody ui-sortable ng-model="fields">
        <tr class="table-fields" 
            ng-repeat="field in fields"
            ng-form="fieldForm"
            ng-class="{ 'info': (field.relations.length > 0), 'warning': field.pk }"
            id="field-{{ field.id }}"
            >
            <td class="nopadding-top noppading-bottom noppading-right">
                <i class="move icon icon-sort"> </i>
            </td>
            <td>
                <button class="btn btn-xs btn-link btn-align-xs disabled nopadding-left noppading-right"
                    tooltip-placement="top" 
                    tooltip="">
                    <i class="icon" 
                       ng-class="{ 'icon-chain': (field.relations.length > 0), 
                        'icon-key': field.pk }"> </i>
                </button>
            </td>
            <td ng-class="{ 'has-error': fieldForm.name.$invalid && fieldForm.name.$dirty }">
                <input class="form-control" name="name" type="text"
                       ng-model="field.name"
                       ng-disabled="(field.relations.length > 0)"
                       ng-required="!(field.relations.length > 0)"
                       ng-maxlength="255"
                       uniquefieldname="existFieldName"
                />
                <p class="help-block error" 
                    ng-show="fieldForm.name.$error.required 
                    && fieldForm.name.$invalid 
                    && fieldForm.name.$dirty">{{ 'error.required' | translate }}</p>
                <p class="help-block error" 
                    ng-show="fieldForm.name.$error.maxlength 
                    && fieldForm.name.$invalid 
                    && fieldForm.name.$dirty">{{ 'error.maxlength' | translate }}</p>
                <p class="help-block error" 
                    ng-show="fieldForm.name.$error.uniquefieldname 
                    && fieldForm.name.$invalid 
                    && fieldForm.name.$dirty">{{ 'error.exists' | translate }}</p>
            </td>
            <td ng-class="{ 'has-error': fieldForm.tableName.$invalid && fieldForm.tableName.$dirty }">
                <input class="form-control" name="tableName" type="text"
                       ng-model="field.tableName"
                       ng-disabled="(field.relations.length > 0)"
                       ng-required="!(field.relations.length > 0)"
                       ng-maxlength="255"
                       uniquefieldname="existFieldName"
                />
                <p class="help-block error" 
                    ng-show="fieldForm.tableName.$error.required 
                    && fieldForm.tableName.$invalid 
                    && fieldForm.tableName.$dirty">{{ 'error.required' | translate }}</p>
                <p class="help-block error" 
                    ng-show="fieldForm.tableName.$error.maxlength 
                    && fieldForm.tableName.$invalid 
                    && fieldForm.tableName.$dirty">{{ 'error.maxlength' | translate }}</p>
                <p class="help-block error" 
                    ng-show="fieldForm.tableName.$error.uniquefieldname 
                    && fieldForm.tableName.$invalid 
                    && fieldForm.tableName.$dirty">{{ 'error.exists' | translate }}</p>
            </td>
            <td>
                <select class="form-control" name="type" style="width:100px;"
                        ng-model="field.type" 
                        ng-disabled="(field.relations.length > 0)"
                        ng-required="!(field.relations.length > 0)"
                        ng-options="t.id as t.name for t in types"
                >
                </select>
            </td>
            <td ng-class="{ 'has-error': fieldForm.length.$invalid && fieldForm.length.$dirty }">
                <input class="form-control length-field" name="length" type="number"
                       ng-model="field.length"
                       ng-disabled="isFieldDisabled(field.type, 'length')"
                       ng-required="isLengthRequired(field.type)"
                />
                <p class="help-block error"
                    ng-show="fieldForm.length.$error.required 
                    && fieldForm.length.$invalid 
                    && fieldForm.length.$dirty">{{ 'error.required' | translate }}</p>
                <p class="help-block error"
                    ng-show="fieldForm.length.$error.number 
                    && fieldForm.length.$invalid 
                    && fieldForm.length.$dirty">{{ 'error.number' | translate }}</p>
            </td>
            <td>
                <div class="checkbox">
                    <input class="checkbox" type="checkbox" 
                           ng-model="field.pk"
                           ng-disabled="isFieldDisabled(field.type, 'pk')"
                    />
                    <label></label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                    <input class="checkbox" type="checkbox" 
                           ng-model="field.nn"
                           ng-disabled="(field.pk) || (field.relations.length > 0)"
                    />
                    <label></label>
                </div>
            </td>
            <td ng-class="{ 'has-error': fieldForm.strategy.$invalid && fieldForm.strategy.$dirty }">
                <select class="form-control" name="strategy" style="width:100px;"
                        ng-model="field.strategy" 
                        ng-disabled="isFieldDisabled(field.type, 'pk') || !(field.pk)"
                        ng-required="field.pk"
                        ng-options="t.id as t.name for t in strategies"
                >
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-xs btn-align-xs" 
                        ng-click="removeField(field.id)"
                        ng-show="!(field.relations.length > 0)"
                >
                    <i class="icon icon-minus"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</script>