<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" 
                    ng-click="clearWorkbenchConfirmation()" 
                    tooltip-placement="top" 
                    tooltip-append-to-body="true" 
                    tooltip="{{ 'label.new' | translate }}">
                    <i class="glyphicon glyphicon-file"> </i>
                </button>
                <a id="btn-list-schemas" class="btn btn-default"
                    ng-click="listSchemas()"
                    tooltip-placement="top" 
                    tooltip-append-to-body="true" 
                    tooltip="{{ 'label.open' | translate }}">
                    <i class="icon icon-folder-open"> </i>
                </a>
                <a id="btn-save" class="btn btn-default ladda-button"
                    data-style="zoom-in"
                    ladda="loading"
                    ng-click="saveSchema()"
                    tooltip-placement="top" 
                    tooltip-append-to-body="true" 
                    tooltip="{{ 'label.save' | translate }}">
                    <i class="icon icon-floppy"> </i>
                </a>
                <button class="btn btn-default" type="button"
                    ng-click="sendSchema()"
                    tooltip-placement="top" 
                    tooltip-append-to-body="true" 
                    tooltip="{{ 'label.create' | translate }}">
                    <i class="icon icon-magic"> </i>
                </button>
            </div>
            <button class="btn btn-primary pull-right" ng-click="newEntity()" type="button">
                <i class="icon icon-plus"> </i>
                {{ 'label.new_entity' | translate }}
            </button>
        </div>
    </div>
</div>

<div class="slider-vertical-container">
    <span slider ng-model="currentZoom" on-slide="updateZoom()" ng-click="updateZoom()" min="0.1" step="0.01" precision="2" max="1.9" orientation="vertical" value="currentZoom" slider-tooltip="hide"></span>
</div>
<div id="workbench-wrapper">
    <div id="advanced-options-wrapper">
        <div class="item-header-wrapper">
            <div class="item-move">
                <span class="title">{{ 'label.advanced_options' | translate }}</span>
            </div>
            <div class="item-header">
                <button type="button" class="close minimize"><span>-</span></button>
            </div>
        </div>
        <div advanced-options>
            <form novalidate name="currentEntityForm" class="form-horizontal" ng-submit="currentEntityOk(currentEntityForm)">
                <div class="disabled-form" ng-show="null === currentEntity"></div>
                <table class="table table-condensed table-bordered table-striped nomargin-bottom">
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-sm">{{ 'label.entity.name' | translate }}</span>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error': currentEntityForm.name.$invalid && currentEntityForm.name.$dirty }">
                                    <input class="form-control input-xs" name="name" type="text" required
                                        ng-model="currentEntity.name"
                                        ng-maxlength="255"
                                        uniqueentityproperty="existByEntityName"
                                        entity="currentEntity"
                                    />
                                    <span class="help-block nomargin-bottom text-sm"
                                        ng-show="currentEntityForm.name.$error.required 
                                        && currentEntityForm.name.$invalid 
                                        && currentEntityForm.name.$dirty">{{ 'error.required' | translate }}</span>
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.name.$error.maxlength 
                                        && currentEntityForm.name.$invalid 
                                        && currentEntityForm.name.$dirty">{{ 'error.maxlength' | translate }}</span>
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.name.$error.uniqueentityproperty 
                                        && currentEntityForm.name.$invalid 
                                        && currentEntityForm.name.$dirty">{{ 'error.exists' | translate }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">{{ 'label.entity.table_name' | translate }}</span>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error': currentEntityForm.tableName.$invalid && currentEntityForm.tableName.$dirty }">
                                    <input class="form-control input-xs" name="tableName" type="text" required
                                        ng-model="currentEntity.tableName.name"
                                        ng-maxlength="255"
                                        uniqueentityproperty="existByTableName"
                                        entity="currentEntity"
                                    />
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.tableName.$error.required 
                                        && currentEntityForm.tableName.$invalid 
                                        && currentEntityForm.tableName.$dirty">{{ 'error.required' | translate }}</span>
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.tableName.$error.maxlength 
                                        && currentEntityForm.tableName.$invalid 
                                        && currentEntityForm.tableName.$dirty">{{ 'error.maxlength' | translate }}</span>
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.tableName.$error.uniqueentityproperty 
                                        && currentEntityForm.tableName.$invalid 
                                        && currentEntityForm.tableName.$dirty">{{ 'error.exists' | translate }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">{{ 'label.entity.namespace' | translate }}</span>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error': currentEntityForm.namespace.$invalid && currentEntityForm.namespace.$dirty }">
                                    <input class="form-control input-xs" name="namespace" type="text" required
                                        ng-model="currentEntity.namespace"
                                        ng-maxlength="255"
                                    />
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.namespace.$error.required 
                                        && currentEntityForm.namespace.$invalid 
                                        && currentEntityForm.namespace.$dirty">{{ 'error.required' | translate }}</span>
                                    <span class="help-block nomargin-bottom text-sm" 
                                        ng-show="currentEntityForm.namespace.$error.maxlength 
                                        && currentEntityForm.namespace.$invalid 
                                        && currentEntityForm.namespace.$dirty">{{ 'error.maxlength' | translate }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button class="btn btn-default btn-xs" ng-disabled="null === currentEntity" ng-click="currentEntityCancel()" type="button">{{ 'label.cancel' | translate }}</button>
                    <button class="btn btn-primary btn-xs" ng-disabled="null === currentEntity || currentEntityForm.$invalid" type="submit">{{ 'label.ok' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
    <div id="workbench">
        <div plumb-item class="item" ng-repeat="entity in entities" ng-style="{'left': entity._x, 'top': entity._y }" ng-click="setCurrentEntity(entity)" data-identifier="{{entity._id}}">
            <div class="item-header-wrapper">
                <div class="item-move"></div>
                <div class="item-header">
                    <button type="button" class="close" ng-click="removeEntityConfirmation(entity._id)"><span>×</span>&nbsp;</button>
                </div>
            </div>
            <div class="col-lg-12 item-container">
                <div class="form-group">
                    <button type="button"
                            class="btn btn-primary btn-xs pull-left" 
                            ng-click="editEntity(entity._id)"
                            tooltip-placement="top" 
                            tooltip-append-to-body="true" 
                            tooltip="{{ 'label.edit_entity' | translate }}">
                        <i class="icon icon-edit"></i>
                    </button>
                    <label class="label-align-xs">{{ entity.name }}</label>
                </div>
                <div  class="form-group">
                    <button type="button"
                            class="btn btn-info btn-xs pull-left"
                            ng-click="editFields(entity._id)"
                            tooltip-placement="top" 
                            tooltip-append-to-body="true" 
                            tooltip="{{ 'label.edit_fields' | translate }}">
                        <i class="icon icon-list"></i>
                    </button>
                    <label class="label-align-xs">{{ 'label.entity.fields' | translate }}: </label>{{ entity.fieldMappings.length }}
                </div>
                <div class="clearfix"></div>
                <div class="btn-group btn-group-justified" data-identifier="{{entity._id}}">
                    <span plumb-connect-one-to-one class="one-to-one btn btn-xs no-draggable" ng-disabled="entity.fieldMappings.length == 0">
                        <i class="icon icon-tree"></i>
                    </span>
                    <span plumb-connect-one-to-many class="one-to-many btn btn-xs no-draggable" ng-disabled="entity.fieldMappings.length == 0">
                        <i class="icon icon-tree2"></i>
                    </span>
                    <span plumb-connect-many-to-many class="many-to-many btn btn-xs no-draggable" ng-disabled="entity.fieldMappings.length == 0">
                        <i class="icon icon-tree3"></i>
                    </span>
                </div>
                <div class="clearfix"><br/></div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'fieldsOptionsContent.html'"></div>
<div ng-include="'manyToManyContent.html'"></div>
<div ng-include="'modalEditFieldsContent.html'"></div>
<div ng-include="'modalLoadSchema.html'"></div>
<div ng-include="'modalNewEditEntityContent.html'"></div>
<div ng-include="'modalNewEditRelationContent.html'"></div>
<div ng-include="'modalTemplate.html'"></div>
<div ng-include="'oneToManyContent.html'"></div>
<div ng-include="'oneToOneContent.html'"></div>