<script type="text/ng-template" id="oneToOneContent.html"> 
<!-- OPCIONES ENTIDAD OWNER -->
<fieldset class="col-md-6">

    <legend class="">{{ 'label.entity' | translate }} {{ sourceEntityName }} <span class="">{{ 'label.owner_side' | translate }}</span></legend>
    
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">{{ 'label.related_field' | translate }}</label>
            <div class="col-lg-8 col-md-8">
                <select class="form-control" name="referencedColumnName" 
                        ng-model="targetRelation.joinColumns[0].referencedColumnName"
                        ng-options="t.fieldName as t.fieldName for t in fieldsTarget"
                        >
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">{{ 'label.name' | translate }}</label>
            <div class="col-lg-8 col-md-8"
                ng-class="{ 'has-error': form.fieldName.$invalid && form.fieldName.$dirty }"
                >
                <input type="text" name="fieldName"  class="form-control"
                       ng-model="sourceRelation.fieldName"
                       ng-required="true"
                       ng-maxlength="255"
                />
                <p class="help-block error" 
                    ng-show="form.fieldName.$error.required 
                    && form.fieldName.$invalid 
                    && form.fieldName.$dirty">{{ 'error.required' | translate }}</p>
                <p class="help-block error" 
                    ng-show="form.fieldName.$error.maxlength 
                    && form.fieldName.$invalid 
                    && form.fieldName.$dirty">{{ 'error.maxlength' | translate }}</p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">{{ 'label.cascade_options' | translate }}</label>
            <div class="col-lg-8 col-md-8">
                <div ng-dropdown-multiselect="" options="cascadeOptions" 
                selected-model="relation.cascade" 
                extra-settings="multiselectSettings"
                translation-texts="multiselectTextSettings"></div>
            </div>
        </div>
    </div>
</fieldset>

<!-- OPCIONES ENTIDAD INVERSE -->
<fieldset class="col-md-6">
    
    <legend class="">{{ 'label.entity' | translate }} {{ targetEntityName }} <span class="">{{ 'label.inverse_side' | translate }}</span></legend>
    
    <div class="form-group">
        <label class="col-lg-4 col-md-4 control-label">{{ 'label.name' | translate }}</label>
        <div class="col-lg-8 col-md-8"
            ng-class="{ 'has-error': form.fieldName.$invalid && form.fieldName.$dirty }"
            >
            <input type="text" name="fieldName"  class="form-control"
                   ng-model="targetRelation.fieldName"
                   ng-maxlength="255"
            />
            <p class="help-block error" 
                ng-show="form.fieldName.$error.required 
                && form.fieldName.$invalid 
                && form.fieldName.$dirty">{{ 'error.required' | translate }}</p>
            <p class="help-block error" 
                ng-show="form.fieldName.$error.maxlength 
                && form.fieldName.$invalid 
                && form.fieldName.$dirty">{{ 'error.maxlength' | translate }}</p>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-lg-4 col-md-4 control-label">{{ 'label.name_database' | translate }}</label>
        <div class="col-lg-8 col-md-8"
            ng-class="{ 'has-error': form.sourceFieldTableName.$invalid && form.sourceFieldTableName.$dirty }"
            >
            <input type="text" name="sourceFieldTableName"  class="form-control"
                   ng-model="targetRelation.joinColumns[0].name"
                   ng-required="true"
                   ng-maxlength="255"
            />
            <p class="help-block error" 
                ng-show="form.sourceFieldTableName.$error.required 
                && form.sourceFieldTableName.$invalid 
                && form.sourceFieldTableName.$dirty">{{ 'error.required' | translate }}</p>
            <p class="help-block error" 
                ng-show="form.sourceFieldTableName.$error.maxlength 
                && form.sourceFieldTableName.$invalid 
                && form.sourceFieldTableName.$dirty">{{ 'error.maxlength' | translate }}</p>
        </div>
    </div>
    
    <!--<div class="form-group">
        <label class="col-lg-4 col-md-4 control-label">{{ 'label.name_database' | translate }}</label>
        <div class="col-lg-8 col-md-8"
            ng-class="{ 'has-error': form.targetFieldTableName.$invalid && form.targetFieldTableName.$dirty }"
            >
            <input type="text" name="targetFieldTableName"  class="form-control"
                   ng-model="relation.targetField.tableName"
                   ng-maxlength="255"
            />
            <p class="help-block error" 
                ng-show="form.targetFieldTableName.$error.required 
                && form.targetFieldTableName.$invalid 
                && form.targetFieldTableName.$dirty">{{ 'error.required' | translate }}</p>
            <p class="help-block error" 
                ng-show="form.targetFieldTableName.$error.maxlength 
                && form.targetFieldTableName.$invalid 
                && form.targetFieldTableName.$dirty">{{ 'error.maxlength' | translate }}</p>
        </div>
    </div>-->
</fieldset>
</script>